

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
  
  .form-field {
    padding-top: 20px;

    label {
        padding-right: 10px;
        font-weight: bold;
    }
  }

  .form-error {
    color: red;
  }

  .actions > button {
    padding-right: 10px;
  }