

<section class="widget-form mat-elevation-z8">

    <mat-card>

        <mat-card-title>New Widget</mat-card-title>

        <form [formGroup]="widgetForm" novalidate *ngIf="showForm">

            <mat-card-content>

                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="nameFc.touched && nameFc.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="nameFc.touched && nameFc.hasError('maxlength')">
                        Too long. Required: {{nameFc.getError('maxlength').requiredLength}} actual: {{nameFc.getError('maxlength').actualLength}} 
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" placeholder="Price" formControlName="price">
                    <mat-error *ngIf="priceFc.touched && priceFc.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="priceFc.touched && priceFc.hasError('min')">
                        Too small. Must not be less than: {{priceFc.getError('min').min}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Color</mat-label>
                    <mat-select formControlName="color">
                        <mat-option value="BLUE">Blue</mat-option>
                        <mat-option value="RED">Red</mat-option>
                        <mat-option value="GREEN">Green</mat-option>
                    </mat-select>
                    <mat-error *ngIf="colorFc.touched && colorFc.hasError('required')">Required</mat-error>
                </mat-form-field>


                <div>
                    <mat-form-field style="width: 100%">
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                

            </mat-card-content>


            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="addWidget()" [disabled]="!widgetForm.valid">ADD</button>
                <button mat-raised-button (click)="resetForm()">RESET</button>
            </mat-card-actions>

        </form>


    </mat-card>


</section>


<section class="widget-cards">
    <app-widget-card *ngFor="let widget of (selectWidgetsAll$ | async)" [widget]="widget" class="app-widget-card"></app-widget-card>
</section>


<section class="debug">

    <!-- <div>Name errors: {{widgetForm.get('name')?.errors | json}}</div>

    <div>Name FormControl dirty: {{widgetForm.get('name')?.dirty}}</div>

    <div>Price errors: {{widgetForm.get('price')?.errors | json}}</div>

    <div>widgetForm.value: {{widgetForm.value | json}}</div> -->

    <div>All Widgets: {{widgets$ | async | json}}</div>

    <div>selectWidgetEntities$: {{selectWidgetEntities$ | async | json}}</div>
    <div>selectWidgetsAll$: {{selectWidgetsAll$ | async | json}}</div>
    <div>selectBlueWidgets$: {{selectBlueWidgets$ | async | json}}</div>

</section>