
<header>

  <h2>Hello world</h2>

  <nav>
    <ul>
      <li><a routerLink="/first-component" [queryParams]="{ctr: 3}" ariaCurrentWhenActive="page">First Component</a></li>
      <li><a routerLink="/second-component" ariaCurrentWhenActive="page">Second Component</a></li>
      <li><a routerLink="/widgets" ariaCurrentWhenActive="page">Widgets</a></li>
    </ul>
  </nav>

</header>

<div class="content">

  <router-outlet></router-outlet>

  <!-- <div class="title-text">
    <div>
      Title is: {{title}}
    </div>

    <div>
      Last sum: {{calcService.lastSum}}
    </div>
    
  </div>

  <div><img [src]="dogImgSrc" alt=""></div>

  <div class="buttons">
    <button type="button" (click)="changeTitle()">CHANGE TITLE</button>
    <button type="button" (click)="add2to3()">ADD 2 + 3</button>
    <button type="button" (click)="add3to4()">ADD 3 + 4</button>
  </div> -->


</div>

