

.header {
    margin-top: 20px;

}

div.counter {
    font-size: 28px;
    color: red;
    margin-top: 10px;
}

div.counter2 {
    font-size: 28px;
    color: blue;
    margin-top: 10px;
}

.buttons {
    margin-top: 30px;
}